{% import 'scripts.js' as scripts with context %}
{% import 'icons.html' as icons %}

{% set modules = dict() %}
{% do modules.update({'js': ['bootstrap', 'fontawesome', 'jquery', 'mousetrap', 'pdfobject', 'selectize', 'toastr']}) %}
{% do modules.update({'css': ['selectize']}) %}

{% macro head() %}

  <meta charset="utf-8"/>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <link rel="icon" href="data:,"/>

  <script src="{{ url_for('static', filename='js/require.js') }}"></script>
  <script>requirejs.config({ baseUrl: '/' });</script>

  {% for module in modules['js'] %}
  <link rel="stylesheet" href="{{ url_for('static', filename='js/%s/%s.css'|format(module, module)) }}"/>
  {% endfor %}

  {% for module in modules['js'] %}
  <script src="{{ url_for('static', filename='js/%s/%s.js'|format(module, module)) }}"></script>
  {% endfor %}

  {% for module in modules['css'] %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/%s/%s.css'|format(module, module)) }}"/>
  {% endfor %}

  {% for style in ['styles'] %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/%s.css'|format(style)) }}"/>
  {% endfor %}

{% endmacro %}

{% macro tail() %}

  {{ scripts.functions() }}
  {{ scripts.setup() }}

{% endmacro %}


{% macro topnav() %}

  <nav class="col navbar navbar-expand-md navbar-dark bg-dark shadow fixed-top topnav">
    <a class="navbar-brand" href="{{ url_for('index') }}">Oh My Notes!</a>
  </nav>

{% endmacro %}

{% macro asidenav(width) %}

  <nav class="col-{{ width }} bg-light asidenav">
    <div class="btn-group btn-group-sm">
      <button type="button"
              class="btn btn-light"
              data-toggle="modal" data-target="#create_folder_dialog">
        <span data-toggle="tooltip" data-placement="bottom" title="Add new folder...">
          {{ icons.icon('fas fa-folder') }}
        </span>
      </button>
      <button type="button"
              class="btn btn-light"
              data-toggle="modal" data-target="#create_file_dialog">
        <span data-toggle="tooltip" data-placement="bottom" title="Add new file...">
          {{ icons.icon('fas fa-file') }}
        </span>
      </button>
    </div>
  </nav>

{% endmacro %}

{% macro sidenav(width) %}

  {% set alt_folders, alt_folders_gradient = folders|shorten(selected.folder, 3) %}
  {% set alt_files, alt_files_gradient = files|shorten(selected.file, 5) %}

  <nav class="col-{{ width }} bg-light sidenav">

    <div id="folders-complete" class="{{ 'hide' if alt_folders else '' }}">
    <div class="list-group mt-1">

      {% for folder in folders %}

        {% if folder.id == selected.folder.id %}

          <a href="{{ url_for('select_folder', folder=folder.id) }}" class="list-group-item list-group-item-action active">
            <div class="d-flex justify-content-between align-items-center">
              <span class="clip">{{ folder.name }}</span>
              <span class="badge badge-primary badge-pill badge-light">{{ folder.files }}</span>
            </div>
            <div class="btn-group btn-group-sm mt-3">
              <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Rename this folder...">
                {{ icons.icon('fas fa-edit') }}
              </button>
              <button type="button" class="btn btn-light" data-href="{{ url_for('delete_folder', folder=folder.id) }}" data-toggle="tooltip" data-placement="bottom" title="Delete this folder...">
                {{ icons.icon('fas fa-trash') }}
              </button>
            </div>
          </a>

        {% else %}

          <a href="{{ url_for('select_folder', folder=folder.id) }}" class="list-group-item list-group-item-action">
            <div class="d-flex justify-content-between align-items-center">
              <span class="clip">{{ folder.name }}</span>
              <span class="badge badge-primary badge-pill">{{ folder.files }}</span>
            </div>
          </a>

        {% endif %}

      {% endfor %}

    </div>
    </div>

    {% if alt_folders %}

      <div id="folders-incomplete">
      <div class="list-group mt-1">

        {% if alt_folders_gradient <= 0 %}

          <button type="button"
                  class="list-group-item list-group-item-action list-group-item-light text-center"
                  style="padding:0"
                  data-toggle="tooltip" data-placement="bottom" title="Show hidden folders"
                  onclick="show_hidden_folders()">
            {{ icons.icon('fas fa-caret-up') }}
          </button>

        {% endif %}

        {% for folder in alt_folders %}

          {% if folder.id == selected.folder.id %}

            <a href="{{ url_for('select_folder', folder=folder.id) }}" class="list-group-item list-group-item-action active">
              <div class="d-flex justify-content-between align-items-center">
                <span class="clip">{{ folder.name }}</span>
                <span class="badge badge-primary badge-pill badge-light">{{ folder.files }}</span>
              </div>
              <div class="btn-group btn-group-sm mt-3">
                <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Rename this folder...">
                  {{ icons.icon('fas fa-edit') }}
                </button>
                <button type="button" class="btn btn-light" data-href="{{ url_for('delete_folder', folder=folder.id) }}" data-toggle="tooltip" data-placement="bottom" title="Delete this folder...">
                  {{ icons.icon('fas fa-trash') }}
                </button>
              </div>
            </a>

          {% else %}

            <a href="{{ url_for('select_folder', folder=folder.id) }}" class="list-group-item list-group-item-action">
              <div class="d-flex justify-content-between align-items-center">
                <span class="clip">{{ folder.name }}</span>
                <span class="badge badge-primary badge-pill">{{ folder.files }}</span>
              </div>
            </a>

          {% endif %}

        {% endfor %}

        {% if alt_folders_gradient >= 0 %}

          <button type="button"
                  class="list-group-item list-group-item-action list-group-item-light text-center"
                  style="padding:0"
                  data-toggle="tooltip" data-placement="bottom" title="Show hidden folders"
                  onclick="show_hidden_folders()">
            {{ icons.icon('fas fa-caret-down') }}
          </button>

        {% endif %}

      </div>
      </div>

    {% endif %}

    <hr/>

    <div id="files-complete" class="{{ 'hide' if alt_files else '' }}">
    <div class="list-group mt-1">

      {% for file in files %}

        {% if file.id == selected.file.id %}

          <a href="{{ url_for('select_file', folder=file.folder.id, file=file.id) }}" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
              <span class="clip">{{ file.name }}</span>
              <small>{{ file.type }}</small>
            </div>
            <div class="btn-group btn-group-sm mt-3">
              <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Rename this file...">
                {{ icons.icon('fas fa-edit') }}
              </button>
              <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Move this file to another folder...">
                {{ icons.icon('fas fa-folder-open') }}
              </button>
              <button type="button" class="btn btn-light" data-href="{{ url_for('delete_file', file=file.id) }}" data-toggle="tooltip" data-placement="bottom" title="Delete this file...">
                {{ icons.icon('fas fa-trash') }}
              </button>
            </div>
          </a>

        {% else %}

          <a href="{{ url_for('select_file', folder=file.folder.id, file=file.id) }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <span class="clip">{{ file.name }}</span>
              <small class="text-muted">{{ file.type }}</small>
            </div>
          </a>

        {% endif %}

      {% endfor %}

    </div>
    </div>

    {% if alt_files %}

      <div id="files-incomplete">
      <div class="list-group mt-1">

        {% if alt_files_gradient <= 0 %}

          <button type="button"
                  class="list-group-item list-group-item-action list-group-item-light text-center"
                  style="padding:0"
                  data-toggle="tooltip" data-placement="bottom" title="Show hidden files"
                  onclick="show_hidden_files()">
            {{ icons.icon('fas fa-caret-up') }}
          </button>

        {% endif %}

        {% for file in alt_files %}

          {% if file.id == selected.file.id %}

            <a href="{{ url_for('select_file', folder=file.folder.id, file=file.id) }}" class="list-group-item list-group-item-action active">
              <div class="d-flex w-100 justify-content-between">
                <span class="clip">{{ file.name }}</span>
                <small>{{ file.type }}</small>
              </div>
              <div class="btn-group btn-group-sm mt-3">
                <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Rename this file...">
                  {{ icons.icon('fas fa-edit') }}
                </button>
                <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Move this file to another folder...">
                  {{ icons.icon('fas fa-folder-open') }}
                </button>
                <button type="button" class="btn btn-light" data-href="{{ url_for('delete_file', file=file.id) }}" data-toggle="tooltip" data-placement="bottom" title="Delete this file...">
                  {{ icons.icon('fas fa-trash') }}
                </button>
              </div>
            </a>

          {% else %}

            <a href="{{ url_for('select_file', folder=file.folder.id, file=file.id) }}" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <span class="clip">{{ file.name }}</span>
                <small class="text-muted">{{ file.type }}</small>
              </div>
            </a>

          {% endif %}

        {% endfor %}

        {% if alt_files_gradient >= 0 %}

          <button type="button"
                  class="list-group-item list-group-item-action list-group-item-light text-center"
                  style="padding:0"
                  data-toggle="tooltip" data-placement="bottom" title="Show hidden files"
                  onclick="show_hidden_files()">
            {{ icons.icon('fas fa-caret-down') }}
          </button>

        {% endif %}

      </div>
      </div>

    {% endif %}

  </nav>

{% endmacro %}

{% macro mainnav(width) %}

  <nav class="col-{{ width }} mainnav">

    {% if selected.file.id %}

      <div class="d-flex justify-content-between flex-wrap align-items-center">

        <h3>{{ selected.folder.name }} / {{ selected.file.name }}</h3>
        <div class="btn-toolbar">
        <div class="btn-group hide" id="selected_file_preview_button_group">
          <button type="button" class="btn btn-sm btn-secondary"
                  onclick="hide_selected_file_preview()">Edit</button>
        </div>
        <div class="btn-group" id="selected_file_edit_button_group">
          <button type="button" class="btn btn-sm btn-outline-secondary"
                  id="selected_file_form_submit_button"
                  onclick="save_selected_file_value()">Save</button>
          <button type="button" class="btn btn-sm btn-outline-secondary"
                  onclick="show_selected_file_preview()">Preview</button>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Download
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('download_file', folder=selected.folder.id, file=selected.file.id, format='txt') }}">
              Plain text file
            </a>
            <a class="dropdown-item" href="{{ url_for('download_file', folder=selected.folder.id, file=selected.file.id, format='pdf') }}">
              PDF
            </a>
          </div>
        </div>
        </div>
      </div>

    {% endif %}

  </nav>

{% endmacro %}

{% macro main(width) %}

  <main class="col-{{ width }} main">

    {% if selected.file.id %}
      <form class="size-hundred-percent"
            id="selected_file_form"
            method="post"
            action="{{ url_for('update_file', file=selected.file.id) }}">
        <textarea id="selected_file_value" name="value" class="form-control size-hundred-percent hide"
                  >{{ selected.file.value or '' }}</textarea>
        <div id="selected_file_preview" class="size-hundred-percent hide"></div>
      </form>
    {% elif selected.folder.id %}
      <div class="size-hundred-percent">
        <button type="button"
                class="btn btn-outline-primary btn-lg center"
                style="padding:1.5rem"
                data-toggle="modal" data-target="#create_file_dialog">
          Add first file to {{ selected.folder.name }}...
        </button>
      </div>
    {% else %}
      <div class="size-hundred-percent">
        <button type="button"
                class="btn btn-outline-primary btn-lg center"
                style="padding:1.5rem"
                data-toggle="modal" data-target="#create_folder_dialog">
          Add your first folder...
        </button>
      </div>
    {% endif %}

    {{ caller() }}
  </main>

{% endmacro %}
