DEBUG = True

HTTPS = False
LOGIN = False

# PEM = '__pem__'

# python -c 'import os; print(os.urandom(16))'
SECRET_KEY = 'TODO'

LOGIN_SECRET_RO = None
LOGIN_SECRET_RW = None
LOGIN_GREETING  = True

LOGS   = '__data__/logs'
TEMP   = '__data__/temp'
TRASH  = '__data__/trash'
BACKUP = '__data__/backup'

FLASK    = 'https://' if HTTPS else 'http://' + 'localhost:12345'
DATABASE = 'postgresql://localhost:5432/bandbase'
TIMEZONE = 'Europe/Berlin'
